.iniciodesesionrestaurente-container {
    min-height: 100vh;
  }
  .iniciodesesionrestaurente-iniciodesesionrestaurente {
    width: 100%;
    height: 841px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    background-color: rgba(255, 255, 255, 1);
  }
  .iniciodesesionrestaurente-rectangle66 {
    top: 0px;
    left: 0px;
    width: 1434px;
    height: 70px;
    position: absolute;
    border-color: transparent;
  }
  .iniciodesesionrestaurente-captura8 {
    top: 0px;
    left: 601px;
    width: 232px;
    height: 70px;
    position: absolute;
    border-color: transparent;
  }
  .iniciodesesionrestaurente-rectangle67 {
    top: 70px;
    left: 0px;
    width: 717px;
    height: 771px;
    position: absolute;
    border-color: transparent;
  }
  .iniciodesesionrestaurente-restaurante12 {
    top: 70px;
    left: 0px;
    width: 717px;
    height: 771px;
    position: absolute;
    border-color: transparent;
  }
  .iniciodesesionrestaurente-text {
    top: 134px;
    left: 851px;
    color: rgba(0, 0, 0, 1);
    width: 478px;
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: Black;
    text-align: center;
    font-family: Nunito;
    font-weight: 900;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .iniciodesesionrestaurente-rectangle68 {
    top: 196px;
    left: 912px;
    width: 357px;
    height: 59px;
    position: absolute;
    border-color: transparent;
    border-radius: 20px;
  }
  .iniciodesesionrestaurente-text02 {
    top: 213px;
    left: 938px;
    color: rgba(195, 195, 195, 1);
    width: 246px;
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: Black;
    text-align: left;
    font-family: Nunito;
    font-weight: 900;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .iniciodesesionrestaurente-rectangle69 {
    top: 270px;
    left: 912px;
    width: 357px;
    height: 59px;
    position: absolute;
    border-color: transparent;
    border-radius: 20px;
  }
  .iniciodesesionrestaurente-text04 {
    top: 286px;
    left: 947px;
    color: rgba(195, 195, 195, 1);
    width: 252px;
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: Black;
    text-align: left;
    font-family: Nunito;
    font-weight: 900;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .iniciodesesionrestaurente-text06 {
    top: 352px;
    left: 926px;
    color: rgba(255, 0, 0, 1);
    width: 268px;
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: Black;
    text-align: left;
    font-family: Nunito;
    font-weight: 900;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: underline;
  }
  .iniciodesesionrestaurente-rectangle70 {
    top: 409px;
    left: 1012px;
    width: 172px;
    height: 50px;
    position: absolute;
    border-color: transparent;
    border-radius: 20px;
  }
  .iniciodesesionrestaurente-text08 {
    top: 420px;
    left: 1034px;
    color: rgba(0, 0, 0, 1);
    width: 129px;
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Nunito;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .iniciodesesionrestaurente-text10 {
    top: 491px;
    left: 891px;
    color: rgba(0, 0, 0, 1);
    width: 399px;
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: Medium;
    text-align: center;
    font-family: Nunito;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .iniciodesesionrestaurente-text12 {
    top: 526px;
    left: 926px;
    color: rgba(255, 0, 0, 1);
    width: 338px;
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: SemiBold;
    text-align: center;
    font-family: Nunito;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: underline;
  }
  