.pagprincipal-container {
  min-height: 100vh;
}
.pagprincipal-pagprincipal {
  width: 100%;
  height: 731px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.pagprincipal-rectangle21 {
  top: 0px;
  left: 0px;
  width: 1438px;
  height: 70px;
  position: absolute;
  border-color: transparent;
}
.pagprincipal-line3 {
  top: 25px;
  left: 4px;
  width: 30px;
  height: 0px;
  position: absolute;
}
.pagprincipal-line4 {
  top: 35px;
  left: 4px;
  width: 30px;
  height: 0px;
  position: absolute;
}
.pagprincipal-line5 {
  top: 47px;
  left: 4px;
  width: 30px;
  height: 0px;
  position: absolute;
}
.pagprincipal-captura4 {
  top: 0px;
  left: 39px;
  width: 139px;
  height: 70px;
  position: absolute;
  border-color: transparent;
}
.pagprincipal-i-c-o-n-o-l-o-c-a-l-i-z-a-c-i-n11 {
  top: 12px;
  left: 186px;
  width: 42px;
  height: 42px;
  position: absolute;
  border-color: transparent;
}
.pagprincipal-text {
  top: 21px;
  left: 233px;
  color: rgba(255, 255, 255, 1);
  width: 148px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Nunito;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: underline;
}
.pagprincipal-rectangle22 {
  top: 16px;
  left: 540px;
  width: 357px;
  height: 39px;
  position: absolute;
  border-color: transparent;
  border-radius: 20px;
}
.pagprincipal-text02 {
  top: 26px;
  left: 828px;
  color: rgba(195, 195, 195, 1);
  width: 56px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Nunito;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.pagprincipal-kisspngmagnifyingglasscomputericonssearchboxiconse {
  top: 27px;
  left: 555px;
  width: 27px;
  height: 21px;
  position: absolute;
  border-color: transparent;
}
.pagprincipal-bf1990e247292b756ca7926443f00ab61 {
  top: 17px;
  left: 1325px;
  width: 43px;
  height: 36px;
  position: absolute;
  border-color: transparent;
}
.pagprincipal-rectangle24 {
  top: 17px;
  left: 1143px;
  width: 158px;
  height: 36px;
  position: absolute;
  border-color: transparent;
  border-radius: 20px;
}
.pagprincipal-i-m-a-g-e3108181 {
  top: 21px;
  left: 1160px;
  width: 30px;
  height: 29px;
  position: absolute;
  border-color: transparent;
}
.pagprincipal-text04 {
  top: 26px;
  left: 1233px;
  color: rgba(60, 60, 60, 1);
  width: 64px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Nunito;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.pagprincipal-rectangle25 {
  top: 70px;
  left: 0px;
  width: 1438px;
  height: 41px;
  position: absolute;
  border-color: transparent;
}
.pagprincipal-text06 {
  top: 74px;
  left: 24px;
  color: rgba(0, 0, 0, 1);
  width: 168px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Nunito;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.pagprincipal-rectangle26 {
  top: 119px;
  left: 0px;
  width: 1438px;
  height: 130px;
  position: absolute;
  border-color: transparent;
}
.pagprincipal-cronicaorigenhamburguesas1 {
  top: 139px;
  left: 41px;
  width: 121px;
  height: 76px;
  position: absolute;
  border-color: transparent;
}
.pagprincipal-text08 {
  top: 223px;
  left: 24px;
  color: rgba(0, 0, 0, 1);
  width: 148px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Nunito;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.pagprincipal-descarga1 {
  top: 139px;
  left: 232px;
  width: 129px;
  height: 76px;
  position: absolute;
  border-color: transparent;
}
.pagprincipal-text10 {
  top: 223px;
  left: 228px;
  color: rgba(0, 0, 0, 1);
  width: 131px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Nunito;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.pagprincipal-perros-calientes-colombianos500x4161 {
  top: 139px;
  left: 431px;
  width: 114px;
  height: 76px;
  position: absolute;
  border-color: transparent;
}
.pagprincipal-text12 {
  top: 221px;
  left: 431px;
  color: rgba(0, 0, 0, 1);
  width: 119px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Nunito;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.pagprincipal-picadacolombiana29901 {
  top: 139px;
  left: 610px;
  width: 133px;
  height: 76px;
  position: absolute;
  border-color: transparent;
}
.pagprincipal-text14 {
  top: 221px;
  left: 627px;
  color: rgba(0, 0, 0, 1);
  width: 115px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Nunito;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.pagprincipal-c-a-p-a1 {
  top: 139px;
  left: 815px;
  width: 116px;
  height: 76px;
  position: absolute;
  border-color: transparent;
}
.pagprincipal-text16 {
  top: 223px;
  left: 812px;
  color: rgba(0, 0, 0, 1);
  width: 117px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Nunito;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.pagprincipal-i-m-a-g-e2f4w-f2c-h7b-c4d-c-c-l-m-r-b-g-s34k-v-q1 {
  top: 139px;
  left: 1003px;
  width: 116px;
  height: 76px;
  position: absolute;
  border-color: transparent;
}
.pagprincipal-text18 {
  top: 221px;
  left: 1013px;
  color: rgba(0, 0, 0, 1);
  width: 92px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Nunito;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.pagprincipal-parrillada11 {
  top: 139px;
  left: 1199px;
  width: 132px;
  height: 76px;
  position: absolute;
  border-color: transparent;
}
.pagprincipal-text20 {
  top: 224px;
  left: 1199px;
  color: rgba(0, 0, 0, 1);
  width: 106px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Nunito;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.pagprincipal-rectangle27 {
  top: 258px;
  left: 4px;
  width: 1434px;
  height: 470px;
  position: absolute;
  border-color: transparent;
}
.pagprincipal-text22 {
  top: 277px;
  left: 1026px;
  color: rgba(0, 0, 0, 1);
  width: 117px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Nunito;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.pagprincipal-rectangle28 {
  top: 279px;
  left: 1138px;
  width: 229px;
  height: 37px;
  position: absolute;
  border-color: transparent;
  border-radius: 20px;
}
.pagprincipal-text24 {
  top: 285px;
  left: 1170px;
  color: rgba(255, 255, 255, 1);
  width: 168px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Nunito;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.pagprincipal-flechablancapngflechaenblanco11562853572hicfbokssi {
  top: 285px;
  left: 1329px;
  width: 19px;
  height: 23px;
  position: absolute;
  border-color: transparent;
}
.pagprincipal-text26 {
  top: 308px;
  left: 21px;
  color: rgba(0, 0, 0, 1);
  width: 155px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: SemiBold;
  text-align: center;
  font-family: Nunito;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.pagprincipal-hamburguesaconamigosysalsadechampinones01 {
  top: 382px;
  left: 65px;
  width: 204px;
  height: 114px;
  position: absolute;
  border-color: transparent;
}
.pagprincipal-text28 {
  top: 505px;
  left: 68px;
  color: rgba(0, 0, 0, 1);
  width: 201px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: SemiBold;
  text-align: center;
  font-family: Nunito;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.pagprincipal-star1 {
  top: 521px;
  left: 132px;
  width: 20px;
  height: 19px;
  position: absolute;
}
.pagprincipal-pizzamargarita36841 {
  top: 382px;
  left: 359px;
  width: 208px;
  height: 114px;
  position: absolute;
  border-color: transparent;
}
.pagprincipal-text33 {
  top: 504px;
  left: 374px;
  color: rgba(0, 0, 0, 1);
  width: 166px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: SemiBold;
  text-align: center;
  font-family: Nunito;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.pagprincipal-star2 {
  top: 522px;
  left: 420px;
  width: 20px;
  height: 19px;
  position: absolute;
}
.pagprincipal-recetaperrocalientecolombiano1 {
  top: 379px;
  left: 657px;
  width: 234px;
  height: 114px;
  position: absolute;
  border-color: transparent;
}
.pagprincipal-text38 {
  top: 506px;
  left: 672px;
  color: rgba(0, 0, 0, 1);
  width: 201px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: SemiBold;
  text-align: center;
  font-family: Nunito;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.pagprincipal-star3 {
  top: 522px;
  left: 742px;
  width: 20px;
  height: 19px;
  position: absolute;
}
.pagprincipal-submarino-sndwich768x5271 {
  top: 378px;
  left: 981px;
  width: 192px;
  height: 115px;
  position: absolute;
  border-color: transparent;
}
.pagprincipal-text43 {
  top: 504px;
  left: 993px;
  color: rgba(0, 0, 0, 1);
  width: 177px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: SemiBold;
  text-align: center;
  font-family: Nunito;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.pagprincipal-star4 {
  top: 532px;
  left: 1048px;
  width: 20px;
  height: 19px;
  position: absolute;
}
.pagprincipal-i-m-a-g-e16424340308511544picada-colombiana350x3501 {
  top: 565px;
  left: 83px;
  width: 169px;
  height: 111px;
  position: absolute;
  border-color: transparent;
}
.pagprincipal-text48 {
  top: 687px;
  left: 98px;
  color: rgba(0, 0, 0, 1);
  width: 139px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: SemiBold;
  text-align: center;
  font-family: Nunito;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.pagprincipal-star5 {
  top: 703px;
  left: 132px;
  width: 20px;
  height: 19px;
  position: absolute;
}
.pagprincipal-deliciosopinchos1 {
  top: 565px;
  left: 359px;
  width: 195px;
  height: 111px;
  position: absolute;
  border-color: transparent;
}
.pagprincipal-text53 {
  top: 688px;
  left: 378px;
  color: rgba(0, 0, 0, 1);
  width: 149px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: SemiBold;
  text-align: center;
  font-family: Nunito;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.pagprincipal-star6 {
  top: 704px;
  left: 420px;
  width: 20px;
  height: 19px;
  position: absolute;
}
.pagprincipal-polloasado1 {
  top: 567px;
  left: 687px;
  width: 171px;
  height: 106px;
  position: absolute;
  border-color: transparent;
}
.pagprincipal-text58 {
  top: 680px;
  left: 709px;
  color: rgba(0, 0, 0, 1);
  width: 130px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: SemiBold;
  text-align: center;
  font-family: Nunito;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.pagprincipal-star7 {
  top: 700px;
  left: 742px;
  width: 20px;
  height: 19px;
  position: absolute;
}
