.registropara-restaurantes-container {
    min-height: 100vh;
  }
  .registropara-restaurantes-registropara-restaurantes {
    width: 100%;
    height: 841px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    background-color: rgba(255, 255, 255, 1);
  }
  .registropara-restaurantes-rectangle56 {
    top: 0px;
    left: 0px;
    width: 1434px;
    height: 70px;
    position: absolute;
    border-color: transparent;
  }
  .registropara-restaurantes-captura7 {
    top: 0px;
    left: 31px;
    width: 234px;
    height: 70px;
    position: absolute;
    border-color: transparent;
  }
  .registropara-restaurantes-text {
    top: 21px;
    left: 1256px;
    color: rgba(255, 255, 255, 1);
    width: 158px;
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: Medium;
    text-align: center;
    font-family: Nunito;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .registropara-restaurantes-rectangle57 {
    top: 69px;
    left: 0px;
    width: 493px;
    height: 772px;
    position: absolute;
    border-color: transparent;
  }
  .registropara-restaurantes-restaurante11 {
    top: 70px;
    left: 0px;
    width: 493px;
    height: 771px;
    position: absolute;
    border-color: transparent;
  }
  .registropara-restaurantes-text02 {
    top: 118px;
    left: 828px;
    color: rgba(0, 0, 0, 1);
    width: 306px;
    height: auto;
    position: absolute;
    font-size: 12px;
    align-self: auto;
    font-style: Black;
    text-align: center;
    font-family: Inter;
    font-weight: 900;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .registropara-restaurantes-text04 {
    top: 148px;
    left: 842px;
    color: rgba(0, 0, 0, 1);
    width: 279px;
    height: auto;
    position: absolute;
    font-size: 12px;
    align-self: auto;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .registropara-restaurantes-rectangle58 {
    top: 217px;
    left: 836px;
    width: 293px;
    height: 41px;
    position: absolute;
    border-color: transparent;
    border-radius: 20px;
  }
  .registropara-restaurantes-text06 {
    top: 220px;
    left: 855px;
    color: rgba(0, 0, 0, 1);
    width: 247px;
    height: auto;
    position: absolute;
    font-size: 10px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Inter;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .registropara-restaurantes-labanderarepresentativadecolombia1152x7594 {
    top: 235px;
    left: 855px;
    width: 24px;
    height: 17px;
    position: absolute;
    border-color: transparent;
  }
  .registropara-restaurantes-text08 {
    top: 237px;
    left: 886px;
    color: rgba(0, 0, 0, 1);
    width: 84px;
    height: auto;
    position: absolute;
    font-size: 10px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Inter;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .registropara-restaurantes-polygon1 {
    top: 249px;
    left: 1091px;
    width: 15px;
    height: 10px;
    position: absolute;
  }
  .registropara-restaurantes-rectangle59 {
    top: 266px;
    left: 836px;
    width: 293px;
    height: 41px;
    position: absolute;
    border-color: transparent;
    border-radius: 20px;
  }
  .registropara-restaurantes-text10 {
    top: 278px;
    left: 850px;
    color: rgba(195, 195, 195, 1);
    width: 132px;
    height: auto;
    position: absolute;
    font-size: 10px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Inter;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .registropara-restaurantes-rectangle60 {
    top: 315px;
    left: 835px;
    width: 293px;
    height: 41px;
    position: absolute;
    border-color: transparent;
    border-radius: 20px;
  }
  .registropara-restaurantes-text12 {
    top: 329px;
    left: 852px;
    color: rgba(195, 195, 195, 1);
    width: 76px;
    height: auto;
    position: absolute;
    font-size: 10px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Inter;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .registropara-restaurantes-rectangle61 {
    top: 367px;
    left: 836px;
    width: 90px;
    height: 41px;
    position: absolute;
    border-color: transparent;
    border-radius: 20px;
  }
  .registropara-restaurantes-labanderarepresentativadecolombia1152x7595 {
    top: 378px;
    left: 847px;
    width: 25px;
    height: 18px;
    position: absolute;
    border-color: transparent;
  }
  .registropara-restaurantes-text14 {
    top: 380px;
    left: 879px;
    color: rgba(0, 0, 0, 1);
    width: 23px;
    height: auto;
    position: absolute;
    font-size: 10px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Inter;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .registropara-restaurantes-polygon2 {
    top: 391px;
    left: 903px;
    width: 13px;
    height: 7px;
    position: absolute;
  }
  .registropara-restaurantes-rectangle62 {
    top: 367px;
    left: 950px;
    width: 179px;
    height: 41px;
    position: absolute;
    border-color: transparent;
    border-radius: 20px;
  }
  .registropara-restaurantes-text16 {
    top: 379px;
    left: 977px;
    color: rgba(195, 195, 195, 1);
    width: 127px;
    height: auto;
    position: absolute;
    font-size: 10px;
    align-self: auto;
    font-style: Medium;
    text-align: center;
    font-family: Inter;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .registropara-restaurantes-rectangle63 {
    top: 414px;
    left: 835px;
    width: 293px;
    height: 41px;
    position: absolute;
    border-color: transparent;
    border-radius: 20px;
  }
  .registropara-restaurantes-text18 {
    top: 429px;
    left: 856px;
    color: rgba(195, 195, 195, 1);
    width: 158px;
    height: auto;
    position: absolute;
    font-size: 10px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Inter;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .registropara-restaurantes-rectangle64 {
    top: 463px;
    left: 836px;
    width: 293px;
    height: 41px;
    position: absolute;
    border-color: transparent;
    border-radius: 20px;
  }
  .registropara-restaurantes-text20 {
    top: 475px;
    left: 854px;
    color: rgba(195, 195, 195, 1);
    width: 207px;
    height: auto;
    position: absolute;
    font-size: 10px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Inter;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .registropara-restaurantes-rectangle65 {
    top: 516px;
    left: 941px;
    width: 93px;
    height: 41px;
    position: absolute;
    border-color: transparent;
    border-radius: 20px;
  }
  .registropara-restaurantes-text22 {
    top: 529px;
    left: 957px;
    color: rgba(0, 0, 0, 1);
    width: 61px;
    height: auto;
    position: absolute;
    font-size: 10px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Inter;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .registropara-restaurantes-text24 {
    top: 569px;
    left: 935px;
    color: rgba(195, 195, 195, 1);
    width: 110px;
    height: auto;
    position: absolute;
    font-size: 5px;
    align-self: auto;
    font-style: Semi Bold;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: underline;
  }